<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:context="http://www.springframework.org/schema/context"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--		https://www.springframework.org/schema/beans/spring-beans.xsd-->
<!--        http://www.springframework.org/schema/context-->
<!--        http://www.springframework.org/schema/context/spring-context.xsd">-->
<!--&lt;!&ndash;    <context:annotation-config/>&ndash;&gt;-->
<!--    <context:component-scan base-package="academy.learnprogramming"/>-->

<!--&lt;!&ndash;    <bean id="numberGenerator" class="academy.learnprogramming.NumberGeneratorImpl"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <bean id="game" class="academy.learnprogramming.GameImpl">&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <constructor-arg ref="numberGenerator"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;&lt;!&ndash;        <property name="numberGenerator" ref="numberGenerator"/>&ndash;&gt;&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--&lt;!&ndash;    <bean class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor"/>&ndash;&gt;-->

<!--</beans>-->